<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width">

        <script src="/externals.js"></script> 
        <script src="/core.js"></script> 

        <script src="/controls/core.js"></script> 
        <script src="/services.js"></script> 

        <script type="text/javascript">
        	$(function() {

				var options = {
					userName: '<%= user %>',
					appName: 'home'
				}


				$$.configureService('WebSocketService', options)        		

        		$('body').processControls()

        	})
        </script>
      

        <link rel="stylesheet" type="text/css" href="/css/externals.css">
        <link rel="stylesheet" type="text/css" href="/css/common.css">

        <link rel="stylesheet" type="text/css" href="/controls/core.css">
     
    </head>

    <body>
        <div bn-control="HeaderControl" data-title="Welcome" data-user-name="<%= user %>" data-is-home-page="true"></div>

        <div bn-control="HomeControl" style="flex: 1; overflow: hidden;"></div>

    </body>
</html>
