<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/externals.css">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>

<div id="main">
	<div class="loginPanel w3-light-grey w3-card-4">
<!-- 		<h2><i class="fa fa-ra"></i> Rebel Framework</h2>
 -->		<form action="/connect" method="post">
			<div class="group">
				<i class="fa fa-user fa-2x w3-text-blue"></i>
				<input type="text" name="user" placeholder="Username" required value="<%= user %>" autofocus>				
			</div>

			<div class="group">
				<i class="fa fa-lock fa-2x w3-text-blue"></i>
				<input type="password" name="pwd" placeholder="Password" required>	
			</div>
		
			<button type="submit" class="w3-btn w3-blue">Connect</button>
			<span class="message"><%= message %></span>
		</form>

	</div>

</div>

</body>
</html>