.UsersControl  a {
	text-decoration: none;
}

.UsersControl form {
	display: flex;
}

.UsersControl {
	display: flex;
	flex-direction: column;
}

.UsersControl h1 {
	font-size: 1.5em;
}

.UsersControl li .w3-button {
	color: #2196f3;
}